
body {
    height: 100vh;
    overflow: hidden;
  }
.sidebar {
    width: 220px;
    background-color: #0d387ad4;
    color: rgb(222, 222, 222);
    padding: 1rem;
    height: 700px;
  }
  .sidebar a {
    color: white;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
  }
  .sidebar a:hover {
    text-decoration: underline;
  }
  .main-content {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
  }
  